<table class="ui striped compact table">
  <thead>
  <tr>
    <th translate>TYPE_NAME</th>
    <th translate>TYPE_DESCRIPTION</th>
    <th>
      <!--div class="compact ui right floated small primary labeled icon button">
          <i class="add icon"></i>{{'CREATE'|translate}}
      </div-->
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of types">
    <td>{{"types."+item.$.name+".label"|translate}}</td>
    <td>{{item.$.description}}</td>
    <td>
    <div class="compact ui right floated small icon buttons">
      <button class="ui button"><i class="edit icon"></i></button>
      <!--button class="ui button"><i class="delete icon"></i></button-->
    </div>
    </td>
  </tr>
  </tbody>
</table>